In [2]:
# 작업 공간 입니다.
# command + Enter : 현재 행만 실행
# option + Enter : 현재 행이 실행되고, 다음 행이 자동으로 추가
# 행 삭제 : 영문자 d를 빠르게 두번 입력

print("안녕하세요.")

안녕하세요.

In [5]:
print(" option + Enter 입력 : 현재행 다음에 새로운 행을 추가할 때")

 option + Enter 입력 : 현재행 다음에 새로운 행을 추가할 때

In [6]:
print("option+Enter 와 동일")

shift + Enter : 현재행 실행하고, 다음행?

# m을 누르면 제목 생성

# 1. 파이썬 코드 입력 및 실행

In [7]:
# 주석 ...
print("얍") # 주석주석...

얍

In [10]:
# 변수
a = 9
b = 5
print(a)
print(b)
print(a, b)

9
5
9 5

In [11]:
print(a + b)
print(a - b)
# print(a + "hi")

14
4

In [14]:
# 형변환
print(a + int("123"))
print(str(a) + "8593")

132
98593

In [15]:
print("귤", "사과", "배", sep=",")

귤,사과,배

## 리스트

In [17]:
print('1번', '2번', '3번', '4번', '5번', '6번', '7번', '8번', '9번', '10번')
class_2_1 =['1번', '2번', '3번', '4번', '5번', '6번', '7번', '8번', '9번', '10번']
print(class_2_1)

1번 2번 3번 4번 5번 6번 7번 8번 9번 10번
['1번', '2번', '3번', '4번', '5번', '6번', '7번', '8번', '9번', '10번']

In [18]:
k = ['a', 'b', 'c', 'd', 'e']

print(k)
print(k[0 : 3])
print(k[1 : 3])

print(k[-3 : -1])
print(k[-3 : ])

['a', 'b', 'c', 'd', 'e']
['a', 'b', 'c']
['b', 'c']
['c', 'd']
['c', 'd', 'e']

In [19]:
list1 = ['a']
list2 = ['b', 'c', 'd', 'e']
print(list1, list2)

['a'] ['b', 'c', 'd', 'e']

In [20]:
print(list1 + list2)
print(list2 + list1)

['a', 'b', 'c', 'd', 'e']
['b', 'c', 'd', 'e', 'a']

In [22]:
int1 = [1]
int2 = [2, 3, 4]
print(int1, int2)

[1] [2, 3, 4]

In [23]:
print(int1 + int2)
print(int2 + int1)

[1, 2, 3, 4]
[2, 3, 4, 1]

In [27]:
list1 = ['a']
list2 = ['b', 'c', 'd']
print(list1, list2)

['a'] ['b', 'c', 'd']

In [28]:
print(list1 + list2)
list1.append(list2)
print(list1)

['a', 'b', 'c', 'd']
['a', ['b', 'c', 'd']]

## 반복문

In [29]:
fruits = ['바나나', '사과', '딸기', '배', '감']
print(fruits)

['바나나', '사과', '딸기', '배', '감']

In [30]:
for fruit in fruits:
    print(fruit)

바나나
사과
딸기
배
감

## 문자열

In [31]:
s = "문자열"
print(s)

문자열

In [32]:
a = "사과"
b = "망고, 파인애플"
print(a, b, sep="/")

사과/망고, 파인애플

In [33]:
# 변수 뒤에 곱하기(*) 표시는 반복 출력 횟수
z = '123'
print(z * 10)
print(a * 5)

123123123123123123123123123123
사과사과사과사과사과

In [35]:
# 문자열 포맷 지정하기
month = "2월"
day = "20일"

say = " {} {}은 일요일 입니다.".format(month, day)
print(say)

 2월 20일은 일요일 입니다.

In [37]:
# 문지열 내부 값 추출하기
k = "가나다라마바"
print(k)

가나다라마바

In [39]:
print(k[1: ])

나다라마바

In [45]:
#
t1 = "     hp010-0000-0000     "
print(t1)

# 문자열의 앞/뒤 공백 제거 함수
t2 = t1.strip()
print(t2)

# 문자열 치환
t3 = t2.replace('hp', '')
print(t3)

     hp010-0000-0000
hp010-0000-0000
010-0000-0000

## 조건문

In [48]:
price = 5000
print(price)

5000

In [49]:
if price > 3000:
    print("이 조건을 만족하면 비싸다를 출력")
elif price > 5500:
    print("5500보다 크네요")
else:
    print("위 조건을 만족하지 않으면, 합리적이다.")

이 조건을 만족하면 비싸다를 출력

## 함수

In [50]:
# 함수 : 동일한 코드를 반복해서 수행할 때, 편의를 위해 미리 만들어 놓음

# 함수 정의
def calcul(a):
    print("hi :) it's " + a + "<3")

# 함수 호출
name = "홍길동"
calcul(name)

hi :) it's 홍길동<3

In [51]:
def calcul2(a, b):
    result = a * b
    return result

aa = 10
bb = 3

res = calcul2(aa, bb)
print(res)

30

In [52]:
# [문제]
# 사용자들의 나이를 알아보려고 합니다.
# 현재 수집된 데이터는 사용자들의 10자리 형태의 생년월일(0000-00-00)
# 올해 년도의 본인의 생년월일을 데이터 값을 매개변수로 해서
# "나이"를 계산하여 반환해주는 함수를 만들고 실행하시오.

def getAge(year, birth):
    age = year - birth + 1
    return age

y = 2021
b = "1997-12-02"

brth = int(b[:4])

age = getAge(y,brth)
print(age)

25