[문제-1]
성별이 여성이고, 입국객수가 150,000 이상이며, 
국적코드가 A01인 데이터만 조회해 주세요.

In [1]:
import pandas as pd
sample_1 = pd.read_excel('sample_1.xlsx',
                         header = 1,
                         skipfooter = 2,
                         usecols = 'A:C')

condition = (sample_1['성별']=='여성')\
            & (sample_1['입국객수']>=150000)\
            & (sample_1['국적코드']=='A01')

sample_1[condition]

  국적코드  성별    입국객수
1  A01  여성  191436

[문제-2] 성별(행), 기준년월별(컬럼) 입국객수의 평균을 집계해 주세요.

In [2]:
sample = pd.read_excel('sample_index_true.xlsx')
sample_pivot = sample.pivot_table(values = '입국객수',
                                 index = '성별',
                                 columns = '기준년월',
                                 aggfunc = 'mean')
sample_pivot

기준년월        2019-11   2019-12
성별
남성     88517.000000  124048.0
여성    141473.666667  206380.0